<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side-->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/error_page.jpg" alt="" class="img-fluid" title="Parmeet"
                            > <!--style="max-width:600px; max-height: 600px ;">-->
                        </figure>   
                        <h3>OOPS!!!!!</h3>
                        <h1>{{error_msg}}</h1>
                        <a href="/"><button>Go back</button></a>
                      
                    </div>
                    
                    
                     
                </div>
            </div>
        </div>
    </div>
    <!--footer -->
    {{>footer}}
</body>
</html>