<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main">
                    <form class="formtemp">
                        <input type="text" id="cityname" placeholder="Enter the city name" autocomplete="off">
                        <input type="submit" value="Search" id="submit">
                    </form>
                </div>

                <div class="tempinfo">
                    <div class="top">
                        <p id="day">Tuesday</p>
                        <p id="date">22 Jun</p>
                    </div>
                    <div class="output_data">
                        <p id="city_name">Output here</p>
                        <div class="middle_content hide_data">
                            <p id="temp"><span id="temp_deg">0</span> <sup>o</sup>C</p>
                            <p id="temp_status"><i class="far fa-sun" aria-hidden="true"></i>
                            <!--<img id="image" src="http://openweathermap.org/img/wn/10d@2x.png">-->
                            </p>
                        </div>

                    </div>
                </div>

                    
            
            </div>
        </div>
    </div>
    <!--footer -->
    {{>footer}}
    <script src="js/main.js"></script>
    <script>
        const curday = document.getElementById("day");
        const curdate = document.getElementById("date");
        const getcurrentday = () =>{
            var weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";
            let currentdays = new Date();
            //console.log(weekday[currentdays.getDay()]);
            let day = weekday[currentdays.getDay()];
            curday.innerText = day;
        };
        
        const getcurrentdate = () =>{
        
        var months =[
         "Jan",
         "Feb",
         "Mar",
         "Apr",
         "May",
         "Jun",
         "Jul",
         "Aug",
         "Sep",
         "Oct",
         "Nov",
         "Dec",
        ];
        var currdate = new Date();
        var month = months[currdate.getMonth() +1];
        var date = currdate.getDate();
        //curdate.innerText = date;
        return `${date} ${month}`;

        
    };
    getcurrentday();
    curdate.innerHTML = getcurrentdate();
    </script>
</body>
</html>